# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Project-local glide cache
.glide/
vendor/
.idea/

# vscode related gitignore
*.code-workspace
.vscode/