<h1 mat-dialog-title>Confirm application deploy</h1>
<mat-dialog-content class="mat-body-1">

  <mat-form-field *ngIf="!logEnabled">
    <input matInput placeholder="Kubernetes cluster" disabled [(value)]="cluster">
  </mat-form-field>

  <mat-form-field *ngIf="!logEnabled">
    <input matInput placeholder="Kubernetes namespace" disabled [(value)]="namespace">
  </mat-form-field>

  <mat-table #table [dataSource]="configs" *ngIf="!logEnabled">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let config"> {{config.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="path">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let config"> {{config.path}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <ace-editor *ngIf="logEnabled"
    [(text)]="log"
    #highlight
    mode="sh"
    readOnly="true"
    style="min-height: 400px; width:100%; overflow: auto;"
  ></ace-editor>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="deploy()">Deploy</button>
  <button mat-button color="primary" (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>