<mat-toolbar color="primary">
  <button mat-icon-button class="sidenav-toggle" (click)="sidenav.toggle()">
    <mat-icon aria-label="Toggle menu">menu</mat-icon>
  </button>
  <span>My Application</span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" class="navigation">
    <ul>
      <li *ngFor="let item of navItems">
        <button class="nav-button" mat-button  [routerLink]="item.path" routerLinkActive="active">
          {{item.label}}
        </button>
      </li>
    </ul>
  
  </mat-sidenav>
  <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
