.sidenav-toggle {
    margin-right: 16px;
}

.navigation {
    padding: 16px;
}

.content {
    padding: 16px;
}

.container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-button {
    &.active::before {
        content: '> ';
    }
}